<!DOCTYPE html>
<html>

<head th:replace="~{/fragments/content-header :: header}"></head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<div th:replace="~{/fragments/navbar :: navbar}"></div>
		<div th:replace="~{/fragments/sidebar :: sidebar}"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div th:replace="~{/fragments/content-header2 :: content-header2}"></div>
					<div class="container-fluid">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Listado de Categorías</h3>
							</div>
							<div class="card-body">
								<form th:if="${opcion.equals('editar') or opcion.equals('agregar')}"
									th:action="@{/forms/guardarCategoria}" th:object="${categoria}" method="post">
									<input th:field="*{id}" type="hidden" class="form-control">
									<input th:field="*{createAt}" type="hidden" class="form-control">
									<div class="form-group">
										<label for="nombreCategoria">Nombre Categoria</label>
										<input th:field="*{nombre}" type="text" class="form-control" th:errorclass="'form-control is-invalid'">
										<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
											th:errors="*{nombre}"></small>
									</div>
									<div class="form-group">
										<label class="col-sm-2 col-form-label">Descripcion</label>
										<input th:field="*{descripcion}" type="text" class="form-control" th:errorclass="'form-control is-invalid'">
										<small class="form-text text-danger" th:if="${#fields.hasErrors('descripcion')}"
											th:errors="*{descripcion}"></small>
									</div>
									<button type="submit" class="btn btn-block btn-default btn-lg">Guardar</button>
								</form>
								
								<div th:if="${opcion.equals('ver')}">
									<div class="form-group">
										<label for="nombreCoctel">Nombre Categoría</label>
										<input th:field="*{categoria.nombre}" disabled class="form-control">
									</div>
									<div class="form-group">
										<label class="col-sm-2 col-form-label">Descripcion</label>
										<input th:field="*{categoria.descripcion}" disabled class="form-control">
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</section>
		</div>
	</div>
</body>
<div th:replace="~{/fragments/footer :: footer}"></div>
<div th:replace="~{/fragments/plugins :: js}"></div>

</html>