<!DOCTYPE html>
<html>

<head th:replace="~{/fragments/content-header :: header}"></head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<div th:replace="~{/fragments/navbar :: navbar}"></div>
		<div th:replace="~{/fragments/sidebar :: sidebar}"></div>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div th:replace="~{/fragments/content-header2 :: content-header2}"></div>
					<div class="container-fluid">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Listado de productos</h3>
							</div>

							<div class="card-body">
								<table id="tabla" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Nombre</th>
											<th>Valor</th>
											<th>Stock</th>
											<th>Descripcion</th>
											<th>Fecha de creacion</th>
											<th>Acciones</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="producto: ${productos}">
											<td th:text="${producto.nombre}"></td>
											<td th:text="${producto.valor}"></td>
											<td th:text="${producto.stock}"></td>
											<td th:text="${producto.descripcion}"></td>
											<td th:text="${producto.createAt}"></td>
											<td>
												<div class="row">
													<div class="col col-sm-4">
														<a class="btn btn-block btn-secondary btn-sm"
															th:href="@{'/forms/formProductosCategorias/' + ${producto.id}}">
															<i class="fas fa-eye"></i>
														</a>
													</div>
													<div sec:authorize="hasRole('ADMIN')" class="col col-sm-4">
														<a class="btn btn-block btn-info btn-sm"
															th:href="@{'/forms/productos/editar/' + ${producto.id}}">
															<i class="fas fa-pen"></i>
														</a>
													</div>
												<div sec:authorize="hasRole('ADMIN')" class="col col-sm-4">
														<a class="btn btn-block btn-danger btn-sm"
															th:href="@{'/forms/productos/eliminar/' + ${producto.id}}"
															onclick="return confirm('¿Estas seguro que desea eliminar el producto?');">
															<i class="fas fa-trash"></i>
														</a>
													</div>
												</div>
											</td>
										</tr>
									<tfoot>
										<tr>
											<th>Nombre</th>
											<th>Valor</th>
											<th>Stock</th>
											<th>Descripcion</th>
											<th>Fecha de creacion</th>
											<th>Acciones</th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
			</section>
		</div>
	</div>
</body>

<div th:replace="~{/fragments/footer :: footer}"></div>
<div th:replace="~{/fragments/plugins :: js}"></div>
<script>
	$(function () {
		$("#tabla").DataTable({
			"responsive": true, "lengthChange": false, "autoWidth": false,
			"buttons": ["copy", "csv", "excel", "pdf", "print"]
		}).buttons().container().appendTo('#tabla_wrapper .col-md-6:eq(0)');
	});
</script>

</html>